use Mix.Config
config :ex_pusher_lite, ExPusherLite.Repo,
  adapter: Ecto.Adapters.Postgres,
  database: "ex_pusher_lite_dev",
  # hostname: "127.0.0.1",
  hostname: "localhost",
  user: "<yourdb>",
  password: "<yourdbpw>",
  pool_size: 20



config :guardian, Guardian,
  allowed_algos: ["HS256"], # optional
  secret_key: "<yoursecretkeyinrails>",
  # verify_module: Guardian.JWT,  # optional
  issuer: "ExPusherLite"
  # ttl: { 30, :days },
  # allowed_drift: 2000,
  # verify_issuer: true, # optional
