use Mix.Config
config :guardian, Guardian,
  allowed_algos: ["HS256"], # optional
  secret_key: "<yoursecretkeyinrails>",
  # verify_module: Guardian.JWT,  # optional
  issuer: "ExPusherLite"
  # ttl: { 30, :days },
  # allowed_drift: 2000,
  # verify_issuer: true, # optional
